<launch>
	<!--joystick node-->
	<arg name="joy_connected" default="true" />
	<node if="$(arg joy_connected)" pkg="rov_control" name="joystick" type="controller.py"></node>
	

	
	<!-- default target is 10.0.0.2 -->
	<include file="$(find rov_main)/launch/ground_station/topic_transport.launch">
			<arg name="target" default="10.0.0.2"/> 
	</include>
	
	<!-- view camera feed--> 
	<node pkg="image_view" name="image_view" type="image_view">
		<remap from="image" to="/rov_cam" />
	</node>

</launch>