<launch>

	<!--Set up Control decoder-->
	<arg name="joy_connected" default="true" />
	<node if="$(arg joy_connected)" pkg="rov_control" name="joystickDecoder" type="controllerDecoder.py"></node>

	<!--Set up camera-->
	<include file="$(find rov_main)/launch/rov/camera.launch"/>

	<!-- default target is 10.0.0.1 -->
	<include file="$(find rov_main)/launch/rov/topic_transport.launch">
		<arg name="target" default="10.0.0.1"/>
	</include>
</launch>